.profile {
    font-family: 'Poppins', sans-serif;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9; 
    border-radius: 20px;
    box-shadow: 8px 8px  rgba(0, 0, 0, 0.1); 
}

.profile h1 {
    font-size: 2rem;
    color: #343a40;
    margin-bottom: 1.5rem;
    text-align: center;
}

.profile h2 {
    font-size: 1.5rem;
    color: #0078f9;
    margin-bottom: 1rem;
    text-align: center;
}

.profile ul {
    list-style: none;
    padding: 0;
}

.profile li span {
    font-size: 1rem;
    color: #343a40;
}

.profile button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 0.5rem;
}

.profile button:hover {
    transform: scale(1.05);
}

.botao-excluir {
    background-color: #dc3545; 
    color: #ffffff;
}

.botao-excluir:hover {
    background-color: #b02a37;
}

.profile button:not(.botao-excluir) {
    background-color: #007bff; 
    color: #ffffff;
}

.profile button:not(.botao-excluir):hover {
    background-color: #0056b3;
}

.profile div {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid #535b63;
    border-radius: 20px;
    background-color: #e9f4ff; 
}

.profile div span {
    font-size: 1rem;
    font-weight: 500;
    color: #343a40;
}
