:root {
  --var-bg-nav-primary: #ffffff;
  --var-bg-nav-hover:	#ffffff;
  --var-color-primary: rgba(39, 230, 255, 0.8); 
  --var-bg-primary: rgba(251, 254, 255, 0.829); 
  --var-bg-secondary:rgba(39, 230, 255, 0.8); 
}

*{
  box-sizing: border-box;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3700ff;
  
}
  .estrutura {
    height: 100%;
  }
  
.content {
  height: 100%; 
  background-color: red;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}